*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    font-family: 'Rubik', sans-serif;
}
body{
    background: linear-gradient(50deg, #E65C00 0%, #F9D423);
    display:flex;
    align-items: center;
    justify-content: center;
    
   
}

/*forms */
form {
    background-color: #ffff;
    color: black;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 10px 3px 10px rgba(36, 29, 29, 0.5);
    user-select: none;
    margin-left: 20px;
}
/*label altura*/
.altura{
    align-items: initial;
    margin-bottom: 15px;
    user-select: none;;
}
/*label peso*/
.peso{
    margin-top: 15px;
    user-select: none;;
}
/*botão calcular*/
.btn{
    margin-top: 15px;
    padding: 10px  15px;
    transform: translateY(20px);
    cursor: pointer;
    background: linear-gradient(50deg, #E65C00 0%, #F9D423);
    font-weight: 750;
    box-shadow: 10px 3px 10px rgba(36, 29, 29, 0.5);
    user-select: none;
}
.altura>input{
    width: 100%;
    font-weight: 600;
    user-select: none;;
}
.peso>input{
    width: 100%;
    font-weight: 600;
    user-select: none;
}
.res{
    transform: translateY(20px);
    padding-top: 20px;
    user-select: none;;
}
.tabela{
    background-color: #ffff;
    list-style: none;
    border-radius: 5px;
    display: flex;;
    align-items: center;
    box-shadow: 10px 3px 10px rgba(36, 29, 29, 0.5);
    padding: 15px;
}
.indice{
    padding-right: 15px;
    user-select: none;
}
.Grau{
    padding-left: 15px;
    user-select: none;
}
.classifica{
    user-select: none;
}

